@font-face {
    font-family: 'poppins-light';
    src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
    font-family: 'poppins-regular';
    src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'poppins-medium';
    src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'poppins-bold';
    src: url(../fonts/Poppins-Bold.ttf);
}

.cabecalho__menu-hamburguer {
    width: 15px;
    height: 14px;

    background-image: url(../images/Menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    margin-left: 10px;
    padding: 1em
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu__link {
    text-decoration: none;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: bold;
}

.lista-menu__link {
    background: #020024;
    background: linear-gradient(177deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 23%, rgba(0, 212, 255, 1) 100%);
    text-transform: uppercase;
}

.container__botao {
    display: none;
}
