
.cabecalho__menu-hamburguer {
    width: 15px;
    height: 14px;

    background-image: url(../images/Menu.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    margin-left: 10px;
    padding: 1em
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.lista-menu__link {
    text-decoration: none;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: bold;
}

.lista-menu__link {
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.container__titulo--negrito, 
.container__titulo {
    display: none;
}

.opções {
    display: none;
}

@media  screen and (min-width: 1024px) {
    

   .container__titulo--negrito, .container__titulo {
    display: inline-block;
    font-family: 'JosefinSans';
    font-size: 30px;
   }

   .container__titulo--negrito {
    font-weight: 700;
   }

   .container__titulo {
    font-weight: 400;
   }

   .opções {
    display: flex;
    list-style-type: none;
   }

   .opções__item {
    padding: 0em 1em;
    text-transform: uppercase;
    font-family: 'poppins-regular';
    font-weight: 1em;
    color: #000000;
   }

   .opções__link {
    color: #000000;
    text-decoration: none;
   }
   
   .container__hidden {
    display: none;
   }

   .cabecalho__menu-hamburguer {
    display: none;
   }

   .opções__botão {
    display: none;
   }

   .opções__botão:checked ~ .lista-menu {
    display: block;
    width: auto;
   }

   ul.lista-menu {
    list-style-type: none;
    text-decoration: none;
   }
}
